* {
    box-sizing: content-box;
}
html {
    color: #c5c6c7;
    background-color: #0b0c10;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    margin: 0 5%;
    padding: 0 80px;
    text-align: center;

}
#banner-image {
    width: 100%;
}
h1 {
    color: #66fcf1;
    font-size: 26px;
    font-weight: 800;
}
h2 {
    color: #45a29e;
    font-size: 22px;
    font-weight: 600;
}
h3 {
    font-size: 22px;
    font-weight: 500;
}
p {
    font-size: 16px;
}
section {
    border: 1px solid #66fcf1;
    margin: 100px 10%;
    text-align: center;
    padding: 10px;
}
#color-display {
    color: black;
    font-size: 24px;
    text-transform: uppercase;
}
.color-blocks {
    width: 250px;
    height: 150px;
    display: inline-block;
    margin: 5px 5px;
}
#color1 {
    background-color: #0b0c10;
    color: white;
    border: 1px solid white;
}
#color2 {
    background-color: #1f2833;
    color: white;
    border: 1px solid white;
}
#color3 {
    background-color: #c5c6c7;
    border: 1px solid white;
}
#color4 {
    background-color: #66fcf1;
    border: 1px solid white;
}
#color5 {
    background-color: #45a29e;
    border: 1px solid white;
}
.font-block {
    display: inline-block;
    margin: 5px 5px;
}
#shizuru {
    font-family: Shizuru, helvetica, sans-serif;
}
#poppins {
    font-family: Poppins, helvetica, sans-serif;
}
#Inconsolata {
    font-family: 'Inconsolata', helvetica, sans-serif;    
}
ul {
    display: inline-block;
    text-align: left;
}
#h1color {
    color: #66fcf1;
}
#h2color {
    color: #45a29e
}
.text-display {
    display: inline-block;
    padding: 0 25px;
}